<div>
  <span>sno</span>
  <span><%= @stud.sno %></span>
</div>
<div>
  <span>name</span>
  <span><%= @stud.name %></span>
</div>
<div>
  <span>dept</span>
  <span><%= @stud.dept %></span>
</div>
<div>
  <span>age</span>
  <span><%= @stud.age %></span>
</div>
<div><%= link_to "index", students_path %></div>
